span {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  body {
    background-color: rgba(9, 9, 9, 0.91);
    display:flex;
    height: 100vh;
    justify-content: center;
    justify-items: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .cartoonoutput{
    width: 90%;
    border-radius: 7px;
  }
  .dropped-image {
    border-radius: 5px;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    scale: calc(2.7);
  }
  
  .column {
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  
  header {
    cursor: pointer;
    color: rgb(255, 229, 229);
    margin-top: -11%;
    margin-left: 4.7%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 32px;
  }
  
  .image-drop-zone {
    border: 2px dashed rgba(255, 236, 236, 0.762);
    border-radius: 20px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: border 0.3s ease;
    margin: 90px;
    margin-top: 0.5%;
    height: 100px !important;
    scale: calc(1.1);
  }
  
  .file-input-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    scale: calc(1.095);
  }
  
  .file-input-label img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  .file-input-text {
    color: white;
    cursor: pointer;
    font-size: 17px;
  }
  
  .horizontal-box {
    margin-left: 310px;
    display: flex;
    height: 50px;
    margin-left: 290px;
    scale: calc(1.1);
    margin-bottom: -5px;
  }
  
  .section {
    box-sizing: border-box;
    width: 210px;
    height: 280px;
    padding: 0px;
    padding-bottom: 40px;
    position: relative;
    margin-right: 14.3%;
    margin-left: -13%;
    border-radius: 7px;
  }
  
  .sample-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
  }
  
  .section-label {
    text-align: center;
    margin-top: 5px;
    font-size: large;
    color: rgba(255, 236, 236, 0.958);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .recommendedheader{
    font-size: larger;
    margin-left: -11.3%;
    margin-top: -3.5%;
    color: rgba(255, 236, 236, 0.958);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    position:fixed;
    scale: calc(1.2);
  }
  button{
    position:absolute;
    margin-top: 30.15%;
    margin-left: 67%;
    scale: calc(1.2);
    padding: 10px;
    border: 1px solid rgba(255, 236, 236, 0.762);
    border-radius: 7px;
    background-color: rgba(9, 9, 9, 0);
    color: rgba(255, 236, 236, 0.762);
    cursor: pointer;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  button:hover{
    color: black;
    background-color: rgba(255, 236, 236, 0.762);
    transition: all 1s;
  }
  .sample-image{
    transition: all 1s;
    cursor: pointer;
  }
  .sample-image:hover{
    scale: calc(1.1);
    transition: all 1s;
  }
  .file-input-text1{
    color:rgba(255, 236, 236, 0.762);
    margin-top: -17%;
    position:fixed;
    font-size: 20px;
    overflow: hidden;
    border:1px dashed rgba(255, 236, 236, 0.762);
    padding: 5px;
    border-radius: 0px 0px 7px 7px;
  }

  .sidebar {
    width: 250px;
    height: 100vh;
    background-color: rgba(0,0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    z-index: 1000;
    transition: transform 0.2s ease;
  }
  
  .sidebar.open {
    transform: translateX(0%);
  }
  
  .menu-bar-icon {
    position: fixed;
    top: 40px;
    left: 3.1px;
    cursor: pointer;
    z-index: 1001;
  }
  
  .menu-bar-icon.hidden {
    display: none;
  }
  .icon-bar {
    width: 40px;
    height: 3.4px;
    border-radius: 20px;
    background-color: rgba(255, 236, 236, 0.958);
    margin: 6.8px 0;
  }
  .content-container.sidebar-open{
    margin-left: 250px;
  }
  .sidebar-open{
    width:calc(100% - 200px);
  }
  
  p{
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:200;
    font-size: 20px;
    margin-top: 45%;
    margin-bottom: -30%;
    margin-left: 10%;
    padding:7px;
  }
  p:hover{
    width: 190px;
    background-color:rgba(255, 236, 236, 0.958);
    
    border-radius: 8px;
    color:rgba(9, 9, 9, 0.91);
    scale: calc(1);
    transition: all 0.5s;
  }
  
  .link-style{
    text-decoration: none;
  }
  .icon-bar1{
    margin-top: 38%;
    width: 240px;
    height: 2.05px;
    border-radius: 0px 40px 40px 0px;
    background-color: rgba(255, 236, 236, 0.958);
    position: fixed;
  }
  .sample-image.glow {
    box-shadow: 0 0 15px rgba(255, 236, 236, 0.958);
    animation: glow 1s;
  }
  
  @keyframes glow {
    to {
      box-shadow: 0 0 15px rgba(255, 236, 236, 0.958);
    }
  }
  .menu-bar-icon {
    position: fixed;
    top: 38px;
    left: 32px;
    cursor: pointer;
    z-index: 1001;
    color: rgb(255, 229, 229);
  }
  